/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#e0d8d0] font-sans;
}

.input-textbox {
  @apply border p-2 mb-2 w-full;
}

.submit-button {
  @apply bg-[#00bb77] text-white p-2 rounded; /* Consistent padding, width, and background */
}

.compare-button {
  @apply bg-[#836953] text-white p-2 rounded; /* Consistent padding, width, and background */
}

.red-box {
  background-color: #ffcccc; /* Light red */
  border: 1px solid red;
  padding: 10px;
}

.green-box {
  background-color: #ccffcc; /* Light green */
  border: 1px solid green;
  padding: 10px;
}

.black-box {
  background-color: #e0e0e0; /* Neutral color */
  border: 1px solid #000;
  padding: 10px;
}

